/* Base */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

html {
	color: $fontColor;
	font: 700 15px/20px 'Open Sans',sans-serif;
}
body {
	min-width: $minWidth;
	text-align: center;
	margin: 0 auto;
	background: $white;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

::selection {
    background: $selection;
    text-shadow: none;
}
::-moz-selection {
    background: $selection;
    text-shadow: none;
}

