/* Variables */
$white: #fff;
$black: #000;
$fontColor: #333;
$hoverColor: red;
$selection: #9f9f9f;
$lightGrey: #e5e5e5;
$medGrey: #bdbcbc;
$darkGrey: #333;
$minWidth: 320px;
$figWidth: 290px;
$figMaxWidth: 69vw;